<form name="deletePhoto" id="deletePhoto" action="/gallery/{{photo.id}}?_method=DELETE" method="POST">
  <label for="verify">Are you sure?</label>
  <input id="deletePhoto" type="submit" value="DELET THIS">
</form>