<h1><a href ="/">_ARCHITEKT</a></h1>
<input id="newPhoto" type="submit" onclick="location.href='/gallery/new';" value="NEU">
{{#each photos}}  
  <div class="photoContainer">
    <a href="/gallery/{{id}}" class="photoLink-single">
      <img src="{{link}}" class="photo">
    <br>
    <div class="authors-descriptions">
      {{author}} -<br>{{link}} 
    </div> 
    </a>
  </div>
{{/each}}